<section class= "container">

  <h3 class="text-uppercase text-center">Formulario de universidad</h3>



<div class="row">
 <div class="col-6"
  <form action "/y" method="POST">
    <div class= "form-gruop row">
      <p><label for="" class="col-2 col-form-label"> Nombre completo:</label>
      <input type="text" placeholder="" class="form-control col-10" name="Nombre"></p>
      </div>
    <div class= "form-gruop row">
      <p><label for="nombre"class="col-2 col-form-label"> Siglas:</label>
      <input type="text" placeholder=""class="form-control col-10" name="Siglas"> </p>
    </div>
    <div class= "form-gruop row">
      <p><label for=""> Nivel:</label></p>
      <p><label for="" class="col-2 col-form-label"> Licenciatura</label>
      <input type="text" placeholder="SI/NO" class="form-control" name="nivel['Licenciatura']">
      <label for="" class="col-2 col-form-label"> Maestria</label>
      <input type="text" placeholder="SI/NO" class="form-control name="nivel['Maestria']" ">
      <label for="" class="col-2 col-form-label"> Doctorado</label>
      <input type="text" placeholder="SI/NO" class="form-control name="nivel['Doctorado']"">
      <label for="" class="col-2 col-form-label"> PosDoctorado</label>
      <input type="text" placeholder="SI/NO" class="form-control name="nivel['PosDoctorado']""></p>
    </div>
    <div class= "form-gruop row">
      <p><label for="" class="col-2 col-form-label"> Ranking Nacional:</label>
      <input type="number" placeholder="" class="form-control"></p>
      </div>
    <div class= "form-gruop row">
      <p><label for="" class="col-2 col-form-label"> Numero de alumnos:</label>
      <input type="number" placeholder="" class="form-control"></p>
      </div>
    <div class= "form-gruop row">
      <p><label for=""> Con posgrado:</label></p>
      <p><label for="" class="col-2 col-form-label"> Disponible </label>
      <input type="text" placeholder="SI/NO"  class="form-control">
      <label for="" class="col-2 col-form-label"> cantidad </label>
      <input type="number" placeholder=""  class="form-control"></p>
      </div>
    <div class= "form-gruop row">
      <p><label for="" class="col-2 col-form-label"> Prestigio:</label>
      <input type="number" placeholder=""  class="form-control"></p>
      </div>
    <div class= "form-gruop row">
      <p><label for="" class="col-2 col-form-label"> imagen:</label>
      <input type="text" placeholder=""  class="form-control"></p>
    </div>
      <div>
        <input type= "submit">
      </div>
    </form>
  </div>
</div>




</section>
