  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <a class="navbar-brand" href="#">Universidad</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Inicio</a>
<<<<<<< HEAD
        <a class="nav-item nav-link" href="/nuevo">Nuevo</a>
=======
        <a class="nav-item nav-link" href="/users">Nuevo</a>
>>>>>>> cc0c018951c4a86c0eddb5359cecce7b053038cc
        <a class="nav-item nav-link" href="/editar">Editar</a>

      </div>
    </div>
  </nav>

<div class="alert alert-primary" role="alert" margin-top="100px">
<p>hola bola de babosos</p>

</div>

<div class = "container-fluid">
 <div class="row">
  <table class="table table-bordered">
          <thead>
          <tr>
               <th scope="col"> #ID </th>
               <th scope="col"> Nombre completo </th>
               <th scope="col"> Siglas</th>
               <th scope="col"> Nivel/Licenciatura </th>
               <th scope="col"> Nivel/Especialidad </th>
               <th scope="col"> Nivel/Maestría </th>
               <th scope="col"> Nivel/Doctorado </th>
               <th scope="col"> Nivel/PosDoctorado </th>
               <th scope="col"> Ranking Nacional </th>
               <th scope="col"> Numero de alumnos </th>
               <th scope="col"> Con posgrado/disponible </th>
               <th scope="col"> Con posgrado/Cantidad </th>
               <th scope="col"> Prestigio</th>

          </tr>
          </thead>
 </div> 
</div>



    <tbody>
    <tr>
         <th scope="row">1</th>
         <td> Universidad Nacional Autónoma de México </td>
         <td> UNAM </td>
         <td> Licenciatura </td>
         <td> Especialidad </td>
         <td> Maestría </td>
         <td> Doctorado </td>
         <td> PosDoctorado </td>
         <td> 1 </td>
         <td> 360,883 </td>
         <td> Si </td>
         <td> 30,634 </td>
         <td> 57.7 </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td> Instituto Tecnológico y de Estudios Superiores de Monterrey </td>
      <td> ITESM </td>
      <td> Licenciatura </td>
      <td> Especialidad </td>
      <td> Maestría </td>
      <td> Doctorado </td>
      <td> N/A </td>
      <td> 2 </td>
      <td> 93,168 </td>
      <td> Si </td>
      <td> 23 </td>
      <td> 76.0 </td>


    </tr>
    <tr>
      <th scope="row">3</th>
      <td> Instituto Politécnico Nacional </td>
      <td> IPN </td>
      <td> Licenciatura </td>
      <td> Especialidad </td>
      <td> Maestría </td>
      <td> Doctorado </td>
      <td> N/A </td>
      <td> 3 </td>
      <td> 180,801 </td>
      <td> Si </td>
      <td> 156 </td>
      <td> -38.4 </td>

    </tr>
    <tr>
      <th scope="row">4</th>
      <td> Universidad Autonoma Metropolitana </td>
      <td> UAM </td>
      <td> Licenciatura </td>
      <td> Especialidad </td>
      <td> Maestría</td>
      <td> Doctorado </td>
      <td> N/A </td>
      <td> 4 </td>
      <td> 45,736 </td>
      <td> Si </td>
      <td> 111 </td>
      <td> -38.4 </td>


    </tr>
    <tr>
      <th scope="row">5</th>
      <td> Universidad Iberoamericana </td>
      <td> IBERO </td>
      <td> Licenciatura </td>
      <td> Especialidad </td>
      <td> Maestría </td>
      <td> Doctorado </td>
      <td> N/A </td>
      <td> 5 </td>
      <td> 10,255 </td>
      <td> Si </td>
      <td> 44 </td>
      <td> -38.4 </td>

    </tr>
  </tbody>
</table>

<<<<<<< HEAD
<a href="/" class="btn btn-success">boton</a>
<a href="/editar" class="btn btn-success">Editar</a>
=======
>>>>>>> cc0c018951c4a86c0eddb5359cecce7b053038cc
